# Prevent people to visit forbidden folders
Options +FollowSymlinks -Multiviews -Indexes

# Redirect missing pages
ErrorDocument 404 "https://nicolas-deleforge.fr/"

# Redirects old URL
Redirect 301 /my-apps/classManagerGenerator https://n-deleforge.github.io/classManagerGenerator
Redirect 301 /my-apps/homey https://n-deleforge.github.io/homey
Redirect 301 /my-apps/tower https://n-deleforge.github.io/tower